@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Hanken Grotesk";
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 40%;
  height: 55%;
  border-radius: 25px;
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
  max-width: 986px;
}

.left {
  width: 50%;
  border-radius: 25px;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  gap: 3rem;
  overflow: auto;
  padding: 15px 0px;
}

.left::-webkit-scrollbar {
  width: 17px;
}

.left::-webkit-scrollbar-track {
  background-color: transparent;
}

.left::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.left::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}

.right::-webkit-scrollbar {
  width: 17px;
}

.right::-webkit-scrollbar-track {
  background-color: transparent;
}

.right::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.right::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}

.top_left_header {
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 2px;
  color: #d0d0d0;
}
.middle_left {
  width: 50%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  text-align: center;
  padding: 3rem;
  min-width: 150px;
}
.middle_left_header {
  font-weight: 900;
  font-size: 48px;
}
.middle_left_paragraph {
  color: #9a9a9a;
}

.bottom_left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  padding: 0px 50px;
  text-align: center;
}

.bottom_left_header {
  font-weight: 600;
}
.bottom_left_paragraph {
  color: #ededed;
  font-size: 18px;
}
/* Right side */
.right {
  width: 50%;
  padding: 15px 32px;
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  gap: 2rem;
  overflow: auto;
}
.bottom {
  width: 100%;
}
.btn {
  width: 100%;
  background-color: hsl(224, 30%, 27%);
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 25px;
  font: inherit;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  outline: inherit;
}

.btn:hover {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
.summary_container {
  display: flex;
  flex-direction: column;

  gap: 15px;
}
.summary_item {
  border-radius: 10px;
  padding: 20px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.summary_item div {
  margin: auto;
}

.light_red {
  background-color: hsl(0, 100%, 67%, 0.1);
}

.light_red div:nth-of-type(1) {
  color: hsl(0, 100%, 67%);
  font-weight: 900;
}
.orange_yellow {
  background-color: hsl(39, 100%, 56%, 0.1);
}

.orange_yellow div:nth-of-type(1) {
  color: hsl(39, 100%, 56%);
  font-weight: 900;
}

.green_teal {
  background-color: hsl(166, 100%, 37%, 0.1);
}

.green_teal div:nth-of-type(1) {
  color: hsl(166, 100%, 37%);
  font-weight: 900;
}

.cobalt_blue {
  background-color: hsl(234, 85%, 45%, 0.1);
}

.cobalt_blue div:nth-of-type(1) {
  color: hsl(234, 85%, 45%);
  font-weight: 900;
}

.summary_item div:nth-of-type(1) {
  display: flex;
  gap: 10px;
}

.top_right_header {
  color: hsl(224, 30%, 27%);
  font-weight: 600;
  font-size: 22px;
}

.summary_item div:nth-child(2) {
  color: #9a9a9a;
  font-weight: 600;
}

.summary_item div:nth-child(2) span {
  color: hsl(224, 30%, 27%);
  font-weight: 600;
}

@media screen and (max-width: 425px) {
  .container {
    width: 100%;
    flex-direction: column;
    height: 100vh;
  }

  .left {
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    flex: 1;
    gap: 1rem;
  }

  .right {
    width: 100%;
    flex: 1;
    gap: 1rem;
  }

  .summary_item {
    padding: 15px 5px;
  }
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  .container {
    width: 90%;
    height: 60vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .container {
    width: 60%;
  }
}
